.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 16px 300px;
}

.category__item {
  color: var(--text-blue);
  font-size: 12px;
  font-weight: 400;
}

.category__item--focused {
  font-weight: bold;
}
